{% extends 'base.html.twig' %}

{% block title %}O nas{% endblock %}

{% block body %}
		<header><h1>Autorzy</h1></header>
		<div class="authors">
			<h2>Damian Chojnacki</h2>
		</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="scripts/arena.js"></script>
{% endblock %}
