{% extends 'base.html.twig' %}

{% block title %}Pomoc{% endblock %}

{% block body %}
		<header><h1>Pomoc</h1></header>
		<div class="help">
		</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="scripts/arena.js"></script>
{% endblock %}
