{% extends 'base.html.twig' %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
	<h1 class="login__header">Zmiana hasła</h1>
	<form class="login" action="password_reset" method="POST">
		<div>
			<div class=login__block>
				<label for="inputPassword" class="login__label">Hasło: </label>
				<input type="password" id="inputPassword" class="input" name="password" required>
			</div>
			<div class=login__block>
				<label for="inputPasswordCheck" class="login__label">Powtórz hasło: </label>
				<input type="password" id="inputPasswordCheck" class="input" name="password-check" required>
			</div>
			<input type="hidden" name="selector" value="{{ selector }}">
			<input type="hidden" name="token" value="{{ token }}">
			<button id="forgot" class="button small login__button" type="submit">Potwierdź</button>
		</div>
	</form>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="scripts/password_change.js"></script>
{% endblock %}
