<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">

  <style>
	*{
		box-sizing: border-box;
	}

	body{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		background-image: url(https://coolwallpaper.website/wp-content/uploads/2018/10/minimalist-wallpapers-inspirational-minimalism-desktop-background-hd-wallpaper-of-minimalist-wallpapers.jpg);
		background-repeat: no-repeat;
	}

	.register_confirm{
	  width: 50%;
	  height: 100vh;
	  background-color: white;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  align-items: center;
	}

  .register_confirm__header{
    background-image: url(https://games-online426.webnode.com/_files/200006644-740fe750b3/rrgedbvvhrtchntfy.png);
    background-position: center;
    background-size: cover;
		background-repeat: no-repeat;
    padding: 2em;
    color: white;
    width: 100%;
  }

  .register_confirm__message{
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
		width: 100%;
  }

  .register_confirm__link{
    width: 50%;
    text-align: center;
    margin: 1em 0;
		cursor: pointer;
		background-color: #3B3A59;
		color: #efefef;
		border-radius: 8px;
		border: solid 2px #3B3A59;
		font-size: 1em;
		padding: 20px 30px;
		text-decoration: none;
		font-size: 36px;
  }

	.register_confirm__link:hover{
		color: wgitel
  }

  .register_confirm__footer{
    text-align: right;
    color: grey;
    background-color: black;
    padding: 1em 2em;
    width: 100%;
  }

  </style>
</head>


<body>
  <main class="register_confirm">
    <header class="register_confirm__header">
      <h1>The Game</h1>
    </header>
    <p class="register_confirm__message">
      Witaj {{ login }}, aby uaktywnić konto przejdź:
      <a class="register_confirm__link" href="localhost/game/verify_email?selector={{ selector|url_encode }}&token={{ token|url_encode }}">Tutaj</a>
    </p>
    <footer class="register_confirm__footer">2018 | &copy; GAME by Damian Chojnacki</footer>
  </main>
</body>
</html>
