$color-primary-base: #3B3A59;
$color-primary-light: #585686;
$color-primary-dark: #27253e;

$color-secondary-base: #111111;
$color-secondary-light: #222222;
$color-secondary-dark: #000000;

$white: #efefef;
$black: #111111;
$grey: #555555;
$blue: #3580ab;
$red: #ab3c35;
$green: #49ab39;
$yellow: #d7b334;

$rounded-small: 4px;
$rounded-normal: 8px;
$rounded-big: 16px;
$circle: 50%;

$font-primary: 'Patrick Hand';
$font-secondary: 'Lato';

$font-size-base: calc(10px + 1vw);
$font-size-smallest: .5em;
$font-size-tiny: .7em;
$font-size-small: .85em;
$font-size-normal: 1em;
$font-size-big: 1.15em;
$font-size-huge: 1.3em;
$font-size-biggest: 1.45em;

$transition-fast: .3s;
$transition-normal: .9s;
$transition-slow: 2.7s;
